.about_block{
    margin-top: 5%;
}
.about_block .row .col img{
    width: 100%;
    display: block;
    border-radius: var(--radius);
    height: 500px;
    object-fit: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about_block .row .col article{
    font-size: 1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
}
.about_block .row .col article .title {
    text-align: left;
}
.about_block .row .col article .title h2{
    line-height: 1;
    font-size: 2.5rem;
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    margin-bottom: 0.75rem;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.about_block .row .col article .title .underline {
    margin-left: 0px;
    width: 6rem;
    height: 0.25rem;
    background: var(--clr-primary-5);
    margin-right: auto;
}
.about_block .row .col article p{
    line-height: 2;
    max-width: 45em;
    margin: 2rem auto 0px;
    color: var(--clr-grey-5);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1rem;
}